.room-registrationForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  width: 400px;
  flex-direction: column;
  font-weight: semi-bold;
  background-color: white;
  gap: 7px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values for your desired shadow effect */
}
.input-wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 320px;
  gap: 10px;
}

.room-input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.inputLabel {
  color: #333;
}

.room-register-button {
  width: 150px; /* Making the button 150px wide */
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 0px; /* Adding margin on top of the button */
}

.room-register-button:hover {
  background-color: #0056b3;
}
