.footer {
  justify-content: center;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  /* margin-top: 100px; */
}
.footer a {
  color: white;
  margin-left: 30px;
}

.footer-container-admin {
  background-color: #1a053d;
}

.footer-container p {
  color: white;
}

.footer a:hover {
  color: rgb(142, 142, 142);
  font-weight: bold;
}

#map {
  height: 280px;
}
.icon-footer {
  font-size: 30px;
}
