/* styles.css */
.icon {
  width: 40px; /* Set the width of the icon */
  height: 40px; /* Set the height of the icon */
  margin-right: 8px; /* Add some right margin for spacing */
}
.nav-wrapper {
  background-color: #1a053d;
}

.nav-center {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
}
.image {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}
.logo {
  font-size: 20px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  transition: color 0.3s ease-in-out;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.nav-link {
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 0;
  transition: var(--transition);
  letter-spacing: 2px;
}

.nav-link:hover {
  color: #555;
}

.active {
  color: white;
}

@media (min-width: 768px) {
  .nav-center {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    flex-direction: row;
    margin-top: 0;
  }
}
