/* Requests.css */

/* Body styling */
.body-request {
  font-family: Arial, sans-serif;
  margin: 20px;
  border: 2px solid #023e8a;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Table header row styling */
th {
  background-color: #00a8cc;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border: 1px solid #ccc;
}

/* Table data row styling */
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ccc;
}

/* Client number and phone icon styling */
a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

span[aria-label="Phone Icon"] {
  margin-right: 5px;
  font-size: 18px;
}

/* Select input styling */
select {
  padding: 5px;
  background-color: #fff; /* Set your desired background color */
  border: 1px solid #ccc;
}

/* Status-specific styles */
