.date-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  background-color: #f0f0f0;
}

.body-wrapper button {
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
}

.date-navigation span {
  font-size: 16px;
  font-weight: bold;
}

.body-wrapper {
  margin: 0px;
}

.table-wrapper {
  width: 90%;
  margin: auto; /* Center the table on the page */
}

.table-header {
  display: flex;
  /* height: 100%; */

  font-weight: bold; /* Optional: Make header text bold */
  background-color: lightgray; /* Optional: Add background color to header row */
}

.header-title,
.header-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-top: gray solid 1px;
  border-left: gray solid 1px;
  border-bottom: gray solid 1px;
  padding: 10px; /* Adjust padding as needed */
  box-sizing: border-box; /* Include padding and border in the total width */
  width: 12.5%;
  background-color: reds;
  height: 60px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
  font-size: 16px; /* Set a default font size */
}
.header-column.last {
  border-right: gray solid 1px;
}
/* Media queries for different screen widths */
@media (max-width: 1200px) {
  .header-title,
  .header-column {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .header-title,
  .header-column {
    font-size: 12px;
  }
}
@media (max-width: 700) {
  .header-title,
  .header-column {
    font-size: 8px;
  }
}

/* Add more media queries as needed for different screen widths */

.table-body {
  width: 100%;
  /* background-color: blue; */
}

.table-row {
  /* flex: 1; Equal-width columns */
  width: 100%;
  /* flex-direction: column; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-bottom: gray solid 1px;
  height: 60px;
}

.table-column1 {
  width: 17%;
  border-left: gray solid 1px;
  height: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
}
.table-column1.end {
  border-right: gray solid 1px;
}
.table-column1 p {
  transform: translate(25%, 25%);
}
