/* BookingCart.css */

.cart-container {
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 10;
}

.time-left-03 {
  margin-top: 12px;
  font-size: 14px;
}
.cart-button {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0.5rem;
  z-index: 100;
}

.cart-details {
  display: none;
  position: absolute;
  right: 0;
  min-width: 300px;
  overflow-y: auto;
}

.cart-container:hover .cart-details {
  display: block;
}

.cart-booking-detail {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 0 8px 2px rgb(185, 185, 185);
}

.cart-booking-detail-info p {
  font-size: 13px;
  margin: 0;
}

.cart-booking-detail-info {
  margin: 7px;
}
.delete-room-btn-cart {
  font-size: 13px;
  border-radius: 25px;
  font-weight: bold;
  margin: 5px;
}

.checkout-cart-btn {
  width: 100px;
  margin-top: 10px;
}
