.change-password-inputs {
  max-width: 500px;
  margin: 0 auto;
}

.change-password-inputs span {
  width: 12rem;
}

.show-password-btn {
  height: 22px;
  margin: auto 0;
  padding-left: 5px;
  cursor: pointer;
}
