.client-booking-container {
  width: 90%;
  margin-top: 100px;
  z-index: 1;
  min-height: calc(100vh - 214px);
}

.client-booking-item {
  background-color: rgba(85, 192, 202, 0.574);
  max-width: 1100px;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 8px 2px lightgrey;
}

.bookings-img-carousel {
  width: 300px;
  margin: 5px;
}

.booking-table-number {
  width: 50px;
}

.booking-table-status {
  width: 20%;
  max-width: 150px;
}

.booking-date-information {
  display: flex;
  flex-wrap: wrap;
}

.booking-date-information div {
  background-color: white;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  border: 1px solid lightgrey;
  width: 240px;
  border-radius: 5px;
}
.booking-information-block div {
  display: flex;
  margin-bottom: 5px;
}

.booking-carousel {
  max-width: 300px;
  margin-top: 15px;
}
.booking-carousel-img {
  max-width: 300px;
}

.booking-info-title {
  min-width: 135px;
  background-color: rgb(248, 249, 250);
  align-items: center;
  border-bottom: 1px solid rgb(222, 226, 230);
  border-top: 1px solid rgb(222, 226, 230);
  border-left: 1px solid rgb(222, 226, 230);
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  display: flex;
  padding: 6px 12px;
  text-align: center;
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}

.booking-info-value {
  width: 150px;
  background-color: rgb(233, 236, 239);
  align-items: center;
  border: 1px solid rgb(222, 226, 230);
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  padding: 6px 12px;
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.bookings-description-block {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.bookings-description {
  max-width: 400px;
  margin-top: 15px;
}

.bookings-accordion {
  margin: 10px auto;
}

.bookings-accordion-header button {
  height: 50px;
  background-color: rgb(233, 236, 239) !important;
}

.request-send-btn {
  margin: 10px;
  float: right;
}

.client-bookings-btn-block {
  display: flex;
  justify-content: flex-end;
}
.client-bookings-btn-block button {
  margin: 10px;
}

.comment-text-area {
  height: 100px !important;
}

@media screen and (max-width: 1063px) {
  .bookings-description-block {
    flex-direction: column;
    align-items: center;
  }
  .booking-information-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .bookings-description {
    max-width: 100%;
    margin-top: 0;
  }
  .booking-carousel {
    margin-top: 0px;
  }

  .bookings-description-block {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 991px) {
  .client-booking-container {
    margin-top: 0;
    min-height: calc(100vh - 185px);
  }
}
