.client-checkout-container {
  width: 90%;
  margin-top: 100px;
  z-index: 1;
  min-height: calc(100vh - 214px);
}

.checkout-tourist-info {
  max-width: 600px;
  margin: 0 auto;
}

.checkout-tourist-info span {
  width: 130px;
}

.checkout-booking-info {
  max-width: 600px;
  margin: 0 auto;
}
