.client-checkout-container {
  width: 90%;
  margin-top: 100px;
  z-index: 1;
  min-height: calc(100vh - 214px);
}

.checkout-title {
  text-align: center;
  margin: 15px;
}

.checkout-tourist-info {
  max-width: 600px;
  margin: 0 auto;
}

.checkout-carousel {
  max-width: 250px;
}
.checkout-carousel-img {
  max-width: 250px;
}
.checkout-accordion-body {
  display: flex;
  flex-wrap: wrap;
}
.checkout-tourist-info span {
  width: 160px;
}

.checkout-booking-title {
  text-align: center;
}
.checkout-booking-info {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.checkout-accordion {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 5px;
}
.checkout-booking-info div {
  display: flex;
  margin: 5px;
}

.checkout-booking-info-title {
  min-width: 90px;
  background-color: rgb(248, 249, 250);
  align-items: center;
  border-bottom: 1px solid rgb(222, 226, 230);
  border-top: 1px solid rgb(222, 226, 230);
  border-left: 1px solid rgb(222, 226, 230);
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  display: flex;
  padding: 6px 12px;
  text-align: center;
  font-size: 13px;
  margin: 0;
}
.checkout-accordion-header button {
  display: flex !important;
}

.checkout-accordion-header button::after {
  display: block;
  margin-right: 3px;
}
.checkout-accordion-header {
  margin: auto 0;
  display: flex;
}
.checkout-booking-info-value {
  width: 105px;
  background-color: rgb(233, 236, 239);
  align-items: center;
  border: 1px solid rgb(222, 226, 230);
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  padding: 6px 12px;
  text-align: center;
  font-size: 13px;
  margin: 0;
}

.room-type-value {
  width: 70px;
}
.checkout-extra-options {
  max-width: 600px;
  margin: 0 auto;
}
.checkout-extra-options div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.checkout-comments {
  max-width: 600px;
  margin: 0 auto;
}

.checkout-room-info {
  max-width: 480px;
  margin: 0 auto;
}

.checkout-confirmation-btn {
  display: flex;
  justify-content: space-between;
}

.checkout-amount {
  display: flex;
  width: 300px;
  margin: 0 auto;
}

.checkout-room-info {
  margin-left: 15px;
}
.accordion-body-block {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.checkout-delete-room-btn {
  display: flex;
  justify-content: center;
}
.checkout-delete-room-btn button {
  margin: 5px;
}

@media screen and (max-width: 991px) {
  .client-checkout-container {
    margin-top: 0;
    min-height: calc(100vh - 185px);
  }
}

@media screen and (max-width: 770px) {
  .checkout-room-info {
    margin-left: 0px;
  }
  .checkout-accordion-body {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}
