.client-checkout-container {
  width: 90%;
  margin-top: 100px;
  z-index: 1;
  min-height: calc(100vh - 214px);
}

.checkout-title {
  text-align: center;
  margin: 15px;
}

.checkout-tourist-info {
  max-width: 600px;
  margin: 0 auto;
}

.checkout-tourist-info span {
  width: 160px;
}

.checkout-booking-info {
  max-width: 600px;
  margin: 0 auto;
}

.checkout-booking-info div {
  display: flex;
}

.checkout-booking-info-title {
  min-width: 160px;
  background-color: rgb(248, 249, 250);
  align-items: center;
  border-bottom: 1px solid rgb(222, 226, 230);
  border-top: 1px solid rgb(222, 226, 230);
  border-left: 1px solid rgb(222, 226, 230);
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  display: flex;
  padding: 6px 12px;
  text-align: center;
}

.checkout-booking-info-value {
  width: 100%;
  max-width: 440px;
  background-color: rgb(233, 236, 239);
  align-items: center;
  border: 1px solid rgb(222, 226, 230);
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  padding: 6px 12px;
  text-align: center;
}

.checkout-extra-options {
  max-width: 600px;
  margin: 0 auto;
}
.checkout-extra-options div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.checkout-comments {
  max-width: 600px;
  margin: 0 auto;
}

.checkout-room-info {
  max-width: 600px;
  margin: 0 auto;
}

.checkout-confirmation-btn {
  display: flex;
  justify-content: space-between;
}

.checkout-amount {
  display: flex;
  width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .client-checkout-container {
    margin-top: 0;
    min-height: calc(100vh - 185px);
  }
}
