.client-footer {
  justify-content: center;
  flex-direction: column;
}
.client-footer a {
  color: white;
}

.client-footer-container p {
  color: white;
  margin: 0 !important;
}

.client-footer a:hover {
  color: rgb(142, 142, 142);
  font-weight: bold;
}

.client-footer-container {
  background-color: rgb(68, 68, 68);
  height: 100%;
}

.footer-paragraph {
  text-align: center;
  padding: 5px;
}

.client-footer-links {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.client-footer-social-media {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
