.reset-password-container {
  width: 90%;
  margin-top: 100px;
  z-index: 1;
  min-height: calc(100vh - 214px);
}

.reset-password-block {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 15px;
}

.reset-password-inputs span {
  width: 145px;
}

@media screen and (max-width: 991px) {
  .reset-password-container {
    margin-top: 0;
    min-height: calc(100vh - 185px);
  }
}
