.carousel-02 {
  position: relative;
  display: flex;
  width: 30%;
  height: 200px;
  padding: 1rem;
  margin-left: 1rem;
}

.slide-02 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.img-slider-02 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}
.div-slider-02-02 {
  width: 100%;
  padding: 10px 0;
}
.slide-hidden-02 {
  display: none;
}

.arrow-02 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  color: white;
  top: 6rem;
}

.arrow-left-02 {
  left: 1.5rem;
}

.arrow-right-02 {
  right: 1.5rem;
}

.info-02 {
  display: flex;

  align-items: center;
  padding-right: 10px;
  justify-content: space-between;
}
.info-02-02 {
  width: 700px;
}
.ul-btns-div-02 {
  display: flex;
  justify-content: space-between;
}
.block-02 {
  display: flex;
  background-color: rgba(13, 153, 255, 0.2);
  border: 1px solid #0d99ff;
  border-radius: 0.4rem;
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
}

.buttons-02 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button-02 {
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: white;
}
.button-x-02 {
  position: fixed;
  display: block;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: white;
}

.u-list-02 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 16px;
  margin-top: 20px;
}
.popup-container-02 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-content-02 {
  position: relative;
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 80%;
}
.room-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.filter-group {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.filter-group label {
  margin: 0;
  font-size: 14px;
}

.filter-group input[type="checkbox"] {
  margin-right: 5px;
}

.filter-group-title {
  font-weight: bold;
  margin-bottom: 10px;
}
/*TODO: add responsivity to room filters. Hasan*/

@media screen and (max-width: 991px) {
  .carousel-02 {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    padding: 1rem;
    margin-left: 0;
  }
  .img-slider-02 {
    width: 100%;
    height: 190px;
    object-fit: cover;
  }
  .info-02 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .block-02 {
    display: flex;
    flex-direction: column;
  }

  .buttons-02 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem auto;
  }

  .button-02 {
    font-size: 14px;
  }

  .u-list-02 {
    font-size: 14px;
  }
}
